<nav class="navbar navbar-expand-lg navbar fixed-top navbar">
  <div class="container">
    <a class="navbar-brand waves-effect" routerLink="/">
      <strong class="logo">{{'Logo' | translate}}</strong>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="d-flex flex-row bd-highlight mb-2 unlisted">

        <li class="nav-item bd-highlight list-unstyled">
          <a class="nav-link waves-effect" routerLink="/about">{{'nav.aboutUs' |
            translate}}

          </a>
        </li>

        <li class="nav-item bd-highlight list-unstyled">
          <a class="nav-link waves-effect" routerLink="/contact">{{'nav.Contact'
            | translate}}

          </a>
        </li>
        <li class="nav-item bd-highlight list-unstyled">
          <a class="nav-link waves-effect" routerLink="/add-new-ads">{{'nav.Add'
            | translate}}

          </a>
        </li>

        <li class="nav-item bd-highlight list-unstyled" *ngIf="!isLogin">
          <a routerLink="user/login" class="nav-link waves-effect">{{'nav.Login'
            | translate}}</a>
        </li>
        <li class="nav-item bd-highlight list-unstyled" style="cursor:pointer;">
          <a *ngIf="lang === 'en'" (click)="changeLang('ar')" class="nav-link
            waves-effect">{{'nav.ar' | translate}}</a>
          <a *ngIf="lang === 'ar'" (click)="changeLang('en')" class="nav-link
            waves-effect">{{'nav.en' | translate}}</a>
        </li>
      </ul>

      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <form class="d-flex mr-auto" [formGroup]="searchForm"
            (ngSubmit)="handleSearch()">
            <input class="form-control me-2" type="search"
              placeholder="{{'nav.Search' | translate}}"
              aria-label="Search" formControlName="search">
            <button class="btn btn-outline-success" type="submit">{{'nav.Search'
              | translate}}</button>
          </form>
        </div>
      </div>

       <div class="p-2 bd-highlight">
          <div class="nav-item dropdown pl-2 mb-2 mb-md-0 d-flex me-2"
            *ngIf="isLogin">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img
                src={{getProfileIamge}}
                class="profileImage">
            </a>
            <ul class="dropdown-menu text-center"
              aria-labelledby="navbarDropdown">
              <h3 style="color: rgb(71, 61, 4);font-weight: bold;">
                {{user?.name}}</h3>

              <li><a class="dropdown-item" style="cursor: pointer;"
                  routerLink="user/profile">{{'nav.Profile' | translate}}</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;"
                  routerLink="my-ads">{{'nav.myAds' | translate}}</a></li>

              <li *ngIf="isAdmin"><a class="dropdown-item" style="cursor:
                  pointer;"
                  routerLink="dashboard">{{'nav.Dashboard' | translate}}</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;"
                  (click)="logout($event)">{{'nav.Logout' | translate}}</a></li>
            </ul>
          </div>

        </div>

    </div>


    <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-sliders-h"
          style="color: rgb(186, 187, 189);"></i></span>
    </button>
  </div>
</nav>
