
<div class="container">
  <div class="col">
    <div>
      <div class="container-fluid">
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">{{'admin.adsInfo' | translate}}</p>
          </div>
          <div class="card-body">
            <div class="row">


              <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length"
                  aria-controls="dataTable">
                  <div class="row">
                    <div class="col">
                      <label class="form-label">{{'admin.show' | translate}}&nbsp;
                        <select class="d-inline-block form-select
                          form-select-sm"
                          [(ngModel)]="selectedLimit">
                          <option [value]='limit' *ngFor="let limit of limits">
                            {{limit}}
                          </option>
                        </select>
                        &nbsp;
                      </label>
                    </div>

                  </div>


                </div>
              </div>

              <div class="col-md-6">
                <div class="text-md-end dataTables_filter"
                  id="dataTable_filter"><label class="form-label"><input
                      type="search" class="form-control form-control-sm"
                      aria-controls="dataTable" placeholder="{{'admin.search' | translate}}"
                      [(ngModel)]="search_term"
                      (ngModelChange)="handleSearch()"></label></div>
              </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable"
              role="grid"
              aria-describedby="dataTable_info">
              <!-- <div class="alert alert-primary m-2" *ngIf="loading">{{'loading' |   translate}}</div> -->
              <table class="table my-0" id="dataTable"  >
                <thead>
                  <tr>
                    <th>{{'viewProducts.name' | translate}}</th>
                    <th>{{'addNewProduct.Category' | translate}}</th>
                    <th>{{'viewProducts.status' | translate}}</th>
                    <th>{{'viewProducts.createdDate' | translate}}</th>
                    <th>{{'viewProducts.delete' | translate}}</th>
                    <th>{{'viewProducts.display' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of products | paginate: { itemsPerPage:
                    selectedLimit, currentPage: p }">
                    <td><img class="rounded-circle me-2" width="30"
                        height="30"
                        [src]="'../../../../assets/uploads/products/'+item.images[0]">
                      <a [routerLink]="['/product/'+item._id]" >{{item.name}}</a></td>
                    <td>{{item.type}}</td>
                    <td>{{item.status}}</td>
                    <td>{{convertDate(item.createdAt)}}</td>
                    <td>
                      <button class="btn btn-danger mx-2" (click)="deleteProduct(item._id)"><i
                          class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                     <td>
                      <button class="btn btn-primary btn-sm"
                        (click)="enableProduct(item._id)"   *ngIf="!item.status">{{'admin.show' | translate}}</button>
                      <button class="btn btn-outline-danger btn-sm"  
                        (click)="disableProduct(item._id)"  *ngIf="item.status">{{'admin.hide' | translate}}</button>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
            </div>
            <div class="row">
              <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status"
                  aria-live="polite">{{'admin.showing' | translate}} {{p}} {{'admin.to' | translate}} {{selectedLimit}} {{'admin.of' | translate}}
                  {{products.length}}</p>
              </div>

              <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end
                  dataTables_paginate
                  paging_simple_numbers">

                  <div class="pagination">
                    <pagination-controls (pageChange)="p= $event"></pagination-controls>
                  </div>

                </nav>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
