.product-item {
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
        transition: 0.5s;
        cursor: pointer;
    }

    .product-item-content:hover {
        background-color: rgb(26, 95, 72, 0.3);
        border-radius: 5%;
    }

    .product-image {
        width: 50%;
        height: 300px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }

    // .product-image:hover {
    //     width: 100%;
    //     height: 100%;
    //     zoom: 2;
    //     border-radius: 25px;
    //     transition:1s;
    // }
}

 .product-grid-item-content {
     text-align: center;
     cursor: pointer;
 }
.product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.product-description {
    margin: 0 0 1rem 0;
    overflow: hidden;
    max-width: 100%;
    height: 70px;
}

.product-description {
    margin: 0 0 1rem 0;
}